

.container {
    width: 80%;
    margin: auto;
}
.container h1{
    /*margin-top: 20px;*/
    text-align: center;
}
.items{
    /*display: flex;*/
    /*justify-content: center;*/
}
.button-flex{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.items-left{
    text-align: left;
}
.button-new {
    background-color: white;
    color: black;
    border: 2px solid #676363;
    width: 200px;
    height: 40px;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;

}
.margins{
    margin-top: 30px;
}
.button-green{
    background-color: #CAF982;
    color: black;
    border: 2px solid #676363;
    width: 100px;
    height: 40px;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    vertical-align: center;
    /*color: black; */
    /*border: 1px solid gray;*/
}
button:hover {
    background-color: #cbcbcb;
}

.header{
    display: flex;
    gap: 20px;
}

.header a {
    text-decoration: none;
    color: black;
}

.header a p{
    vertical-align: center;
}