*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    flex-direction: column;
    height: 100vh;
    /*background-color: #f5f5f5;*/
    padding: 0 150px;
}
.container h1{
    margin-top: 20px;
}
.items{
    display: flex;
    justify-content: center;
}
.button-flex{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.items-left{
    display: flex;
    justify-content: left;
}
.button-new {
    background-color: white;
    color: black;
    border: 2px solid #676363;
    width: 200px;
    height: 40px;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.margins{
    margin-top: 30px;
}
.button-green{
    background-color: #CAF982;
    color: black;
    border: 2px solid #676363;
    width: 100px;
    height: 40px;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
button:hover {
    background-color: #cbcbcb;
}
