@charset "utf-8";

/* CSS Document */
/*range*/
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:"";}
.clear{clear: both;}
.left{float: left;}
.right{float: right;}
.f-hk1 {
    left: 0px;
    background-image: url(../images/icon/hk1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.f-hk2 {
    left: 8px;
    background-image: url(../images/icon/hk2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.f-hk3 {
    left: 16px;
    background-image: url(../images/icon/hk3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.f-hk4 {
    left: 24px;
    background-image: url(../images/icon/hk4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.f-hk5 {
    left: 24px;
    background-image: url(../images/icon/hk5.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.f-hk6 {
    left: 24px;
    background-image: url(../images/icon/hk6.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.f-hk7 {
    left: 24px;
    background-image: url(../images/icon/hk7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.f-hk8 {
    left: 24px;
    background-image: url(../images/icon/hk8.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.f-hk9 {
    left: 24px;
    background-image: url(../images/icon/hk9.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.f-hk10 {
    left: 24px;
    background-image: url(../images/icon/hk10.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.f-hk11 {
    left: 24px;
    background-image: url(../images/icon/hk11.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.f-hk12 {
    left: 24px;
    background-image: url(../images/icon/hk12.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.f-hk13 {
    left: 24px;
    background-image: url(../images/icon/hk13.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.f-rangeArea{
    margin-top: 10px;
    color: #333;
    font-size: 16px;
    width: 100%;
}
.f-mt20{margin-top: 20px;}
.f-color{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    top: 7px;
    *top:-7px;
}

.f-rangeArea {margin-bottom: 10px;}
.f-range-msg{margin-top: 10px;font-size: 16px;text-align: left;color: #666;float: left;}
.f-color-text{display: inline-block;margin-left: 10px;width: 105px;}
.f-color-area{display: inline-block;width: 150px;color: #ff7916;}
.f-mb40{margin-bottom: 40px;}